@import "tailwindcss";

@theme {
  --color-primary: #70003A;
  --color-primary-dark: #5a002e;
  --color-primary-light: #8a0048;
  --font-sans: var(--font-lato), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-lato), 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
